<br>
<br>
<div class="ui stackable grid container">
  <div class="ui five wide  centered column">
    <h2>Edit <%= resource_name.to_s.humanize %></h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { :class => 'ui form', method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        
        <%= f.email_field :email,placeholder: 'Email', autofocus: true %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <i>(leave blank if you don't want to change it)</i>
        <%= f.password_field :password, placeholder: 'New Password', autocomplete: "off" %>
      </div>

      <div class="field">
        
        <%= f.password_field :password_confirmation, placeholder: 'Confirm Password', autocomplete: "off" %>
      </div>

      <div class="field">
         <i>(we need your current password to confirm your changes)</i><br />
        <%= f.password_field :current_password, placeholder: 'Current Password', autocomplete: "off" %>
      </div>

      
        <%= f.submit "Update", :class => 'ui button' %>
      
    <% end %>

    <h3>Cancel my account</h3>

    <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, class: 'ui red button', method: :delete %></p>

    <%= link_to "Back", :back %>
  </div>
</div>