
<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--4-col"></div>
  <div class="mdl-cell mdl-cell--4-col" style="text-align:center">

<%= simple_form_for(@task) do |f| %>
  <%= f.error_notification %>

  <div class="mdl-textfield mdl-js-textfield">
  
    <%= f.text_area :content, label:false, :class => 'mdl-textfield__input' %>
    <label class="mdl-textfield__label">Content</label>
    
  </div>

  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <%= f.input :state, label:false, input_html:{class: 'mdl-textfield__input'} %>
    <label class="mdl-textfield__label">State</label>
  </div>

  <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--12-col" style="text-align:center">
      <%= f.button :submit, "Create Task" , :class => 'mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent'%></div>
    </div>
<% end %>
</div>
 <div class="mdl-cell mdl-cell--4-col"></div>
 </div>